.footer-mobile  
  .container
    .container-inner 
      .logo-container 
        .logo 
          img(src="img/logo.svg", alt="logo")
        .logo-name
          img(src="img/logo_name.svg", alt="logo_name")
      .copyright
        .title Copyright © 2018 Toxin отель. Все права защищены.
      .social-link 
        i.fa.fa-brands.fa-twitter
        i.fa.fa-brands.fa-facebook-square
        i.fa.fa-brands.fa-instagram