.form
  .form-inner
    .container 
      .text-forms 
        .text-field
          .text 
            .title Text Field
            .description Default
          input(type="text" placeholder="Email")
        .text-field 
          .text
            .title Text Field
            .description Hover / Focus
          input(type="text" placeholder="This is pretty awesome")
        .dropdown
          .title Dropdown
          select(name="date") 
        .masked-text-field
          .title masked text field
          input(type="text" placeholder="ДД.ММ.ГГГГ")
