header.header 
  .container 
    .header__inner 
      a.logo 
        .logo__container
          .logo
            img(src="img/logo.svg", alt="logo")
          .logo_name
            img(src="img/logo_name.svg", alt="logo-name")
      nav.menu 
        ul.menu__list
          li.menu__list-item 
            a(href="#")
              .about-us О нас 
          li.menu__list-item 
            a(href="#") 
              .service Услуги 
                span.material-icons expand_more
          li.menu__list-item 
            a(href="#") Вакансии
          li.menu__list-item
            a(href="#") Новости
          li.menu__list-item
            a(href="#") 
              .agreements Соглашения
                span.material-icons expand_more
          li.menu__list-item
            button.btn-login Войти
          li.menu__list-item
            button.btn-reg Зарегистрироваться