header.header 
  .container 
    .header__inner 
      a.logo 
            img(src="img/logo.svg", alt="logo")
            img(src="img/logo_name.svg", alt="logo-name")
      nav.menu 
        ul.menu__list
        li.menu__list-item О нас 
        li.menu__list-item Услуги
        li.menu__list-item Вакансии
        li.menu__list-item Новости
        li.menu__list-item Соглашения
        li.menu__list-item Войти
        li.menu__list-item Зарегистрироваться