@import url('../fonts/iconfont/material-icons.scss');

@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/Montserrat/MontserratRegular/Montserrat-Regular.woff");
  src: url("../fonts/Montserrat/MontserratRegular/Montserrat-Regular.ttf") format("truerype"),
      url("../fonts/Montserrat/MontserratRegular/Montserrat-Regular.svg") format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat/MontserratBold/Montserrat-Bold.woff");
  src: url("../fonts/Montserrat/MontserratBold/Montserrat-Bold.ttf") format("truerype"),
      url("../fonts/Montserrat/MontserratBold/Montserrat-Bold.svg") format('svg');
  font-style: normal;
  font-weight: 700;
}

* {
  font-family: 'Montserrat';
}