.footer-mobile{
  .container{
    width: 768px;
    max-width: 100%;
    margin: 0 auto;
  }

  .container-inner{
    margin: 120px 0;
  }

  .logo-container{
    display: flex;
    align-items: center;
    column-gap: 12.5px;
    justify-content: center;
    margin-bottom: 20px;
  }
  .copyright{
    color: $dark-shade-75;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .social-link{
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }

  .fa {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

