.header_login {
  .container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 140px;
    margin-left: 140px;
  }

  .logo__container {
    display: flex;
    align-items: center;
    column-gap: 12.5px;
    margin: 15px 0;
  }

  .menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $primaly-color;
  }

  .about-us {
    font-weight: 700;
    color: $second-color;
  }

  .service,
  .agreements {
    display: flex;
    align-items: center;
  }

  .material-icons {
    font-family: "MaterialIcons";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }

  .limiter {
    border-right: 1px solid rgba(31, 32, 65, 0.1);
    height: 30px;
  }
}