.header {
  .container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 140px;
    margin-left: 140px;
  }

  .logo__container {
    display: flex;
    align-items: center;
    column-gap: 12.5px;
    margin: 15px 0;
  }

  .menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $primaly-color;
  }

  .about-us {
    font-weight: 700;
    color: $second-color;
  }

  .service,
  .agreements {
    display: flex;
    align-items: center;
  }

  .material-icons {
    font-family: "MaterialIcons";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
  }

  button {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
  }

  .btn-login,
  .btn-reg {
    font: inherit;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border: 0;
    padding: 10px 20px;
    position: relative;
    border-radius: 22px;
    z-index: 1;
    color: #bc9cff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
  }

  .btn-login::before {
    content: "";
    display: block;
    height: calc(100% - calc(2px * 2));
    width: calc(100% - calc(2px * 2));
    background: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: calc(22px - 2px);
    z-index: -1;
  }

  .btn-reg {
    color: #fff;
  }
}
